<form method="POST" action="/articles">
<h2>The title of your article: </h2><input type="text" name="title" id="title">
<h2>The content of your article: </h2><input type="text" name="content" id="content">

<input type="submit" id="submit">

</form>
